a:link, a:visited {
  color: black;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  
}

a:hover, a:active {
  color:  rgb(173, 133, 140);
  text-decoration: none;
}

h1, h2 {
  color: rgb(173, 133, 140);
  font-family: 'Lora', serif;
}

p {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.btn {
  font-family: 'Lora', serif;
  text-decoration: none;
  padding: 14px 25px;
}

a {
  font-family: 'Lora', serif;
  font-size: 18px;
  color: black;
}