a:link, a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

a:hover, a:active {
  color:  rgb(173, 133, 140);
  text-decoration: none;
}

h1, h2 {
  color: rgb(173, 133, 140);
  font-family: 'Lora', serif;
  font-size: 36px!important;
}

p {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.mybtn {
  font-family: 'Lora', serif;
  border-color: rgb(173, 133, 140)!important;
  background-color: rgb(173, 133, 140)!important;
  color:  white!important;
  text-decoration: none;
  padding: 14px 25px;
}

.mybtn:hover {
  border-color: rgb(173, 133, 140)!important;
  background-color: white!important;
  color:  rgb(173, 133, 140)!important;
}

a {
  font-family: 'Lora', serif;
  font-size: 18px;
  color: black;
}

.mylinks:hover {
  color:  rgb(173, 133, 140)!important;
  text-decoration: none;
}

.bookimg {
  width: 100%;
  padding: 10px;
}

.imgarea{
  position: relative;
}

.imgbtn {
  position: absolute;
  bottom: 50px;
  left: 44%;
}